<link rel="stylesheet" href="/styles/layout.css" type="text/css" />
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top">
    <img src="/images/monkeySmall.png" alt="">
    <a class="navbar-brand" href="/">Monkey Writers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (username) { %>
        <a class="nav-item nav-link" href="/mystories">My Stories</a>
        <a class="nav-item nav-link" href="/stories/new">Create Story</a>
      <div class="form-inline" style="margin-left: 800px;">


          <form method="POST" action="/logout" class="form-inline">
            <span style="color: white;">Logged In As: <%= username %></span>
          <button type="submit" class="btn btn-success logoutbtn">Logout</button>
        </form>
        </div>
        <% } else { %>
          <div class="form-inline" style="margin-left: 800px;">
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/register">Register</a>
          </div>
        <% } %>
      </div>
      </div>
    </div>
  </nav>
</header>

