<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <title>Monkey Writers</title>
</head>
<body>
  <%- include('partials/_header') %>


  <main>
    <!-- username: <%= user.username %>, name: <%= user.name %>, avatar_url: <%= user.avatar_url %> -->
    <section id="new-story-box">
      <form id="story-form" method="POST" action="/api/stories/mystories">
        <label for="story-text">Start a new Story</label>
        <div class="">
          <label for="story-form-title">Title</label>
          <br>
          <input type="" name="title" placeholder="title" class="form-control form-control-md">
        </div>
        <textarea name="text" id="story-text"></textarea>
        <div>
          <button type="submit" class="btn btn-success">Share Story</button>
        </div>
      </form>
    </section>




  </main>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <section id="render-ownerStories"></section>

